.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.pagination button {
    width: 30px;
    height: 30px;
    font-family: 'roboto';
    font-weight: 600;
    font-size: 12px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: rgb(169, 171, 206);
    border: 1px solid  #6a8ee9
}

.pagination button.active {
    font-weight: 900;
    border-color: #6a8ee9;
    background: #dee4f3;
    color: #3365ab;
}